@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Transaction/ngCode/frmConstitutentInfo.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="loader ng-cloak LoaderStyle" data-loading>
        <img src="~/assets/images/square_loading.gif" width="100px;" height="100px;" style="top: 50%; left: 50%;" />
    </div>
    <div class="form-horizontal" ng-form="frmConsitutentInfo">
        <div class="panel panel-default">
            <div class="panel-header bg-aero">
                <div class="form-group">
                    <div class="col-md-5">
                        <h2 class="panel-title">
                            <strong>{{FormTitle}}</strong>
                        </h2>
                    </div>
                    <div class="col-md-7">

                        <div class="text-right  m-t-10">
                            <button class="btn btn-embossed btn-primary btn-rounded" ng-click="SaveData()" ng-class="{'btn-transparent': frmConsitutentInfo.$invalid}" ng-disabled="frmConsitutentInfo.$invalid" ng-hide="ViewPerm == 'NO'"><i class="fa fa-save"></i>&nbsp{{btnSaveValue}}</button>
                            <button type="button" class="btn btn-embossed btn-danger btn-rounded" ng-click="Reset()"><i class="fa fa-refresh"></i>&nbsp Reset</button>
                            <button type="button" class="btn btn-embossed btn-success btn-rounded" ng-hide="SearchPerm == 'NO'" ng-click="GetConsitutentInfoList()"><i class="fa fa-search"></i>&nbspSearch</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-content bg-light-blue">             
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">Consitutent Name</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control form-white input-sm" id="ConstitutentArea" ng-maxlength="50" placeholder="Consitutent Name" ng-model="ConstitutentArea" required>
                        <input type="hidden" ng-model="uiID" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">Consitutent Name Bangla</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control form-white input-sm" id="ConstitutentBangla" ng-maxlength="50" placeholder="Consitutent Bangla Name" ng-model="ConstitutentBangla" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">Consitutent Number</label>
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control form-white input-sm" id="ConstitutentNumber" ng-maxlength="50" placeholder="Consitutent Number" ng-model="ConstitutentNumber" required>
                        <input type="hidden" ng-model="uiID" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">Status</label>
                    </div>
                    <div class="col-md-2">
                        <select class="form-control form-white input-sm" id="Status" ng-model="Status" required>
                            @*<option value="">Please Select</option>*@
                            <option value="1">Active</option>
                            <option value="0">Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="ConsitutentModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-content bg-light-blue">
                    <div class="modal-header">
                        <h2 class="panel-title">Consitutent List</h2>
                        <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="gridConsitutent" ui-grid="gridConsitutentOptions" class="grid" ui-grid-pagination style=" height: 350px; width: 100%;" ui-grid-auto-resize ui-grid-resize-columns></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>