@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>PMRS :: Login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @*<link rel="shortcut icon" href="~/assets/img/favicon.png">*@
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/assets/css/ui.css" rel="stylesheet">
    <link href="~/assets/plugins/bootstrap-loading/lada.min.css" rel="stylesheet">
    <style>
        .blur {
            /* overflow: hidden; */
            -webkit-filter: blur(13px);
            -moz-filter: blur(13px);
            -o-filter: blur(13px);
            -ms-filter: blur(13px);
            filter: blur(13px);
        }
    </style>
    <script src="~/assets/plugins/jquery/jquery-1.11.1.min.js"></script>

    <script src="~/Scripts/angular.js"></script>
    <script src="~/AngularModules/Login.js"></script>

    @*****************angular-toastr*****************@
    <link href="~/AngularModules/Toastr/toastr.css" rel="stylesheet" />
    <script src="~/AngularModules/Toastr/toastr.js"></script>


    <script type="text/javascript">
        window.MyApp = {};
        MyApp.rootPath = '@Url.Content("~/")';
    </script>

</head>
<body>

    <div ng-form="frmLogin" ng-app="myApp" ng-controller="myCtrl" style="height: 100%;overflow:hidden;">
        <div class="account2">
            <!-- BEGIN LOGIN BOX -->
            @*<div class="container">
                    <div class="row">

                        <div class="col-sm-6 col-md-4 col-md-offset-4">

                            <div class="account-wall">
                                <i class="user-img icons-faces-users-03"></i>
                                <div class="append-icon">
                                    <input type="text" name="Username" id="name" class="form-control form-white username" placeholder="Username" ng-model="Username" required>
                                    <i class="icon-user"></i>
                                </div>
                                <div class="append-icon m-b-20">
                                    <input type="password" name="Password" class="form-control form-white password" placeholder="Password" ng-model="Password" ng-keydown="$event.keyCode === 13 && LoginSystem()" required>
                                    <i class="icon-lock"></i>
                                </div>
                                <input type="button" id="submit-form" class="btn btn-lg btn-danger btn-block" value="Sign In" ng-click="LoginSystem()" ng-disabled="frmLogin.$invalid">
                            </div>
                        </div>
                    </div>
                </div>*@

            <div class="container" id="login-block" style="width: 100%; top: 150px;">
                @*<i class="user-img icons-faces-users-03"></i>*@
                <br />
                <br />
                <br />
                <br />

                <div class="row">
                    <div class="col-sm-4 ">
                    </div>
                    <div class="col-sm-4 ">
                        <div class="account-wall" style="opacity:.8">
                            @*<div class="account-form" style="position: fixed; left: 50%;top: 50%;margin-top: -9em;margin-left: -15em;">*@
                            <div class="account-form">

                                @*<form class="form-signin" role="form">*@
                                @* <h3><strong>Sign in</strong> to your account</h3>*@
                                <div class="row">
                                    @*<div class="col-sm-1">
                                        </div>*@
                                    <div class="col-sm-12" style="padding: 0; text-align: center">
                                        <h4><strong>&nbsp;&nbsp;&nbsp;Private Member Regulation System</strong> </h4>
                                    </div>

                                </div>
                                @*<div class="row">
                                    <div class="col-sm-4">
                                    </div>
                                    <div class="col-sm-4" style="text-align: center;">
                                        <img src="~/assets/images/square_logo.png" height="50px" ; />
                                    </div>
                                    <div class="col-sm-4">
                                    </div>
                                </div>*@

                                <div class="row" style="opacity: 1;">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label input-sm  " style="height: 0; padding: 0">User Name</label>
                                    </div>
                                </div>
                                <div class="row" style="opacity: 1;">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-8" style="padding-bottom: 5px;">
                                        <div class="append-icon">
                                            <input type="text" name="name" id="name" class="form-control form-white input-sm username" ng-model="Username" placeholder="Username" required autocomplete="off">
                                            <i class="icon-user"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" style="opacity: 1;">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-4">
                                        <label class="control-label input-sm  " style="height: 0; padding: 0">Password</label>
                                    </div>
                                </div>
                                <div class="row" style="opacity: 1;">
                                    <div class="col-sm-2">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="append-icon m-b-20">
                                            <input type="password" name="password" class="form-control form-white input-sm password" autocomplete="new-password" ng-model="Password" placeholder="Password" ng-keydown="$event.keyCode === 13 && LoginSystem()" required>
                                            <i class="icon-lock"></i>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-2">
                                </div>
                                @*<button type="submit" id="submit-form" class="btn btn-lg btn-dark btn-rounded ladda-button" ng-click="LoginSystem()" data-style="expand-left">Sign In</button>*@
                                <div class="col-sm-8">
                                    <input type="button" id="submit-form" class="btn btn-lg btn-primary btn-block" value="Sign In" ng-click="LoginSystem()" ng-disabled="frmLogin.$invalid">

                                </div>

                                @* </form>*@

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                    </div>
                </div>


            </div>


        </div>
        <div class="loader ng-cloak" data-loading style="margin: 0px; padding: 0px; position: fixed; right: -620px; top: 120px; width: 100%; height: 100%; z-index: 30001; opacity: .8; filter: alpha(opacity=70);">
            @*<img src="~/AngularModules/square_loading.gif" width="100px;" height="100px;" />*@
            <img src="~/assets/images/square_loading.gif" width="100px;" height="100px;" />
        </div>
        @*<p class="account-copyright">
            <strong>Square </strong><span>Informatix Ltd.</span>*@


    </div>
    <script src="~/assets/plugins/jquery/jquery-1.11.1.min.js"></script>
    <script src="~/assets/plugins/jquery/jquery-migrate-1.2.1.min.js"></script>
    @*<script src="~/assets/plugins/gsap/main-gsap.min.js"></script>*@
    <script src="~/assets/plugins/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>
