@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Security/ngCode/frmRL.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">

    <div class="form-horizontal" ng-form="frmRoleInfo">
        <div class="panel panel-default">
            <div class="panel-header bg-aero">
                <div class="form-group">
                    <div class="col-md-5">
                        <h2 class="panel-title">
                            <strong>{{FormTitle}}</strong>
                        </h2>
                    </div>
                    <div class="col-md-7">
                        <div class="text-right  m-t-10">
                            <button class="btn btn-embossed btn-primary btn-rounded" ng-click="SaveData()" ng-class="{'btn-transparent': frmRoleInfo.$invalid}" ng-hide="ViewPerm == 'NO'" ng-disabled="frmRoleInfo.$invalid"><i class="fa fa-save"></i>&nbsp সংরক্ষণ</button>
                            <button type="button" class="btn btn-embossed btn-danger btn-rounded" ng-click="Reset()"><i class="fa fa-refresh"></i>&nbsp রিসেট</button>
                            <button type="button" class="btn btn-embossed btn-success btn-rounded" ng-click="GetRoleInfoList()"><i class="fa fa-search"></i>&nbsp অনুসন্ধান</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-content bg-light-blue">
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm">Role Code</label>
                    </div>
                    <div class="col-md-2">
                        <input type="text" class="form-control input-sm" id="uiCode" placeholder="Auto Generated" ng-model="uiCode" disabled="disabled">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">Role Name</label>
                    </div>
                    <div class="col-md-3" ng-class="{'has-error':frmRoleInfo.RoleName.$error.maxlength}">
                        <input type="text" class="form-control form-white input-sm" id="RoleName" placeholder="Role Name" name="RoleName" ng-maxlength="50" ng-model="RoleName" required>
                        <input type="hidden" ng-model="uiID" />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="RoleModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-content bg-light-blue">
                    <div class="modal-header">
                        <h2 class="panel-title">Role List</h2>
                        <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="gridRole" ui-grid="gridRoleOptions" class="grid" style="padding-left: 1%; height: 350px; width: 98.6%;" ui-grid-auto-resize ui-grid-resize-columns></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>