@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Security/ngCode/frmLoginCreate.js"></script>

<div class="loader ng-cloak LoaderStyle" data-loading>
    <img src="~/assets/images/square_loading.gif" width="100px;" height="100px;" />
</div>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="form-horizontal" ng-form="frmLoginCreate">
        <div class="panel panel-default">
            <div class="panel-header bg-aero">
                <div class="form-group">
                    <div class="col-md-5">
                        <h2 class="panel-title">
                            <strong>{{FormTitle}}</strong>
                        </h2>
                    </div>
                    <div class="col-md-7">
                        <div class="text-right  m-t-10">
                            <button class="btn btn-embossed btn-primary btn-rounded" ng-click="SaveData()" ng-class="{'btn-transparent': frmLoginCreate.$invalid}" ng-hide="ViewPerm == 'NO'" ng-disabled="frmLoginCreate.$invalid"><i class="fa fa-save"></i>&nbsp সংরক্ষণ</button>
                            <button type="button" class="btn btn-embossed btn-danger btn-rounded" ng-click="Reset()"><i class="fa fa-refresh"></i>&nbsp রিসেট</button>
                            <button type="button" class="btn btn-embossed btn-success btn-rounded" ng-click="GetUserLoginList()"><i class="fa fa-search"></i>&nbsp অনুসন্ধান</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-content bg-light-blue">

   

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label  input-sm required">লগইন টাইপ</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control form-white input-sm" id="Status" ng-model="EmpType" required>
                            <option value="">Please Select</option>
                            <option value="EMP">Employee</option>
                            <option value="MP">MP</option>
                        </select>
                    </div>
                </div>

                <div class="form-group">

                    <div class="col-md-3">
                        <label class="control-label input-sm required">
                            কর্মকর্তার নাম
                        </label>
                    </div>
                    <div class="col-md-6">
                        <ui-select class="form-control form-white  input-sm" ng-model="frmLoginCreate.EmployeeID" theme="select2" ng-click="GetEmployeeList()" required ng-hide="ShowDt==true">
                            <ui-select-match placeholder="Select Employee">{{$select.selected.UserName}}</ui-select-match>
                            <ui-select-choices repeat="employee.UserID as employee in Employees | propsFilter: {UserName: $select.search, DepartmentName: $select.search, DesignationName: $select.search}">
                                <div ng-bind-html="employee.UserName | highlight: $select.search"></div>
                                <small>
                                    Dept.: <span ng-bind-html="''+employee.DepartmentName | highlight: $select.search"></span>  &nbsp;&nbsp;&nbsp;
                                    Desg.: <span ng-bind-html="''+employee.DesignationName | highlight: $select.search"></span>
                                </small>
                            </ui-select-choices>
                        </ui-select>

                        <input type="text" class="form-control input-sm" id="EmpName" name="EmpName" ng-hide="ShowDt==false" ng-maxlength="50" ng-model="EmpName" disabled>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label  input-sm required">ব্যবহারকারীর নাম</label>
                    </div>
                    <div class="col-md-3" ng-class="{'has-error':frmLoginCreate.Username.$error.maxlength}">
                        <input type="text" class="form-control form-white input-sm" id="Username" placeholder="Username" name="Username" ng-maxlength="50" ng-model="Username" required>
                        <input type="hidden" ng-model="uiID" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">
                            পাসওয়ার্ড
                        </label>
                    </div>
                    <div class="col-md-3" ng-class="{'has-error':frmLoginCreate.Password.$error.maxlength}">
                        <input type="password" class="form-control form-white input-sm" id="Password" ng-model="Password" name="Password" ng-maxlength="50" placeholder="Type Password" required>
                    </div>
                    <div class="col-md-3">
                        <input type="password" class="form-control form-white input-sm" id="RePassword" ng-model="RePassword" placeholder="Re-type Password" required>
                    </div>
                    <div class="col-md-3">
                        <p class="label label-danger" ng-show="Password != RePassword">Not Matched</p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">
                            স্ট্যাটাস
                        </label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control form-white input-sm" id="Status" ng-model="Status" required>
                            <option value="">Please Select</option>
                            <option value=1>Active</option>
                            <option value=0>Inactive</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="UserLoginModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-content bg-light-blue">
                    <div class="modal-header">
                        <h2 class="panel-title">
                            লগইন তালিকা
                        </h2>
                        <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="gridUserLogin" ui-grid="gridUserLoginOptions" class="grid" style="padding-left: 1%; height: 350px; width: 98.6%;" ui-grid-auto-resize ui-grid-resize-columns></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>