@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Areas/Transaction/ngCode/frmParliamentSessionInfo.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">
    <div class="loader ng-cloak LoaderStyle" data-loading>
        <img src="~/assets/images/square_loading.gif" width="100px;" height="100px;" style="top: 50%; left: 50%;" />
    </div>
    <div class="form-horizontal" ng-form="frmParliamentSessionInfo">
        <div class="panel panel-default">
            <div class="panel-header bg-aero">
                <div class="form-group">
                    <div class="col-md-5">
                        <h2 class="panel-title">
                            <strong>{{FormTitle}}</strong>
                        </h2>
                    </div>
                    <div class="col-md-7">

                        <div class="text-right  m-t-10">
                            <button class="btn btn-embossed btn-primary btn-rounded" ng-click="SaveData()" ng-class="{'btn-transparent': frmParliamentSessionInfo.$invalid}" ng-disabled="frmParliamentSessionInfo.$invalid" ng-hide="ViewPerm == 'NO'"><i class="fa fa-save"></i>&nbsp{{btnSaveValue}}</button>
                            <button type="button" class="btn btn-embossed btn-danger btn-rounded" ng-click="Reset()"><i class="fa fa-refresh"></i>&nbsp Reset</button>
                            <button type="button" class="btn btn-embossed btn-success btn-rounded" ng-hide="SearchPerm == 'NO'" ng-click="GetSession()"><i class="fa fa-search"></i>&nbspSearch</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel-content bg-light-blue">

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">সংসদ নং</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control form-white input-sm" id="ParliamentNo" ng-model="ParliamentNo" required>
                            <option value=11>11</option>
                            <option value=12>12</option>
                            <option value=13>13</option>
                            <option value=14>14</option>
                            <option value=15>15</option>
                            <option value=16>16</option>
                            <option value=17>17</option>
                            <option value=18>18</option>
                        </select>
                    </div>

                    <div class="col-md-3">
                        <label class="control-label input-sm required">অধিবেশন নং</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control form-white input-sm" id="SessionNo" ng-model="SessionNo" required>
                            <option value=1>1</option>
                            <option value=2>2</option>
                            <option value=3>3</option>
                            <option value=4>4</option>
                            <option value=5>5</option>
                            <option value=6>6</option>
                            <option value=7>7</option>
                            <option value=8>8</option>
                            <option value=9>9</option>
                            <option value=10>10</option>
                            <option value=11>11</option>
                            <option value=12>12</option>
                            <option value=13>13</option>
                            <option value=14>14</option>
                            <option value=15>15</option>
                            <option value=16>16</option>
                            <option value=17>17</option>
                            <option value=18>18</option>
                            <option value=19>19</option>
                            <option value=20>20</option>
                            <option value=21>21</option>
                            <option value=22>22</option>
                            <option value=23>23</option>
                            <option value=24>24</option>
                            <option value=25>25</option>
                        </select>

                        <input type="hidden" ng-model="uiID" />
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label  input-sm required">শুরুর তারিখ</label>
                    </div>
                    <div class="col-md-3">
                        <datepicker date-format="dd/MM/yyyy"
                                    date-week-start-day="0"
                                    button-prev=' <i class="fa fa-arrow-circle-left"></i>'
                                    button-next='<i class="fa fa-arrow-circle-right"></i>'>
                            <input id="FromDate" ng-model="FromDate" type="text" class="angular-datepicker-input form-white input-sm form-control clickable" placeholder="তারিখ নির্বাচন করুন" readonly required />
                        </datepicker>
                    </div>

                    <div class="col-md-3">
                        <label class="control-label input-sm required">শেষের তারিখ</label>
                    </div>
                    <div class="col-md-3">
                        <datepicker date-format="dd/MM/yyyy"
                                    date-week-start-day="0"
                                    button-prev='<i class="fa fa-arrow-circle-left"></i>'
                                    button-next='<i class="fa fa-arrow-circle-right"></i>'>
                            <input id="ToDate" ng-model="ToDate" type="text" class="angular-datepicker-input form-white input-sm form-control clickable" placeholder="তারিখ নির্বাচন করুন" readonly required/>
                        </datepicker>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-3">
                        <label class="control-label input-sm required">স্ট্যাটাস</label>
                    </div>
                    <div class="col-md-3">
                        <select class="form-control form-white input-sm" id="Status" ng-model="Status" required>
                            <option value="1">সচল</option>
                            <option value="0">বাতিল</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="DepartmentModal" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="panel-content bg-light-blue">
                    <div class="modal-header">
                        <h2 class="panel-title">Parliament Session List</h2>
                        <button type="button" id="modalClose" class="close" data-dismiss="modal" aria-hidden="true"><i class="icons-office-52"></i></button>
                    </div>
                    <div class="modal-body">
                        <div class="row">
                            <div id="gridDepartment" ui-grid="gridDepartmentOptions" class="grid" ui-grid-pagination style=" height: 350px; width: 100%;" ui-grid-auto-resize ui-grid-resize-columns></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>